<app-auto-scroll-slider />
<section class="py-5 my-5">
    <div class="data-holder">
        <div class="container-size">
            <h3 class="logo">#سجل رقمك وخياطنا بيجيك في مكانك</h3>
            <!-- <div class="page-title">
            </div> -->
            <div class="form-group">
                <div class="input-container">
                    <label for="requestTypes">نوع الطلب: </label>
                    <p-select [options]="allOffers" id="requestTypes" [(ngModel)]="order.order_Serv" optionLabel="name"
                        class="w-100"></p-select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <label for="city"> المدينة: </label>
                    <p-select [options]="cites" id="city" [(ngModel)]="order.client_City" optionLabel="name"
                        class="w-100" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <label for="district">الحي</label>
                    <input pInputText id="district" [(ngModel)]="order.district" maxlength="20" class="w-100"
                        autocomplete="off" required />
                    <!-- Validation messages -->
                    <!-- @if(name.empty) {
                    <small class="danger">يجب ادخال اسم الشركة</small>
                    }@else if(name.invalid) {
                    <small class="danger">{{name.errorMessage}}</small>
                    } -->
                </div>
            </div>


            <div class="form-group">
                <div class="input-container">
                    <label for="phone">الجوال:</label>
                    <input pInputText id="phone" #phoneRef [(ngModel)]="order.client_Num" class="w-100"
                        autocomplete="off" placeholder="0511111111" required maxlength="10" (ngModelChange)="validatePhone($event)" />
                    
                    <small *ngIf="isPhoneInvalid" class="danger">
                        يجب أن يكون رقم الجوال مكون من 10 أرقام
                        وان يبدأ بـ 05 مثل 0599999999
                    </small>
                </div>
            </div>


            <div class="submit-container">
                <p-button (click)="addRequest()" [disabled]="isPhoneInvalid || phoneRef.value ==''" label="إرسال الطلب" />
            </div>

        </div>
    </div>
</section>