<footer>
    <h3 class="brand-name">شركة كارد للخياطة</h3>
    <h3>متاح لدينا جميع وسائل الدفع &nbsp; , &nbsp; ويمكنك الدفع كاش </h3>
    <img src="/assets/images/payments.png" alt="">

    <ul class="flex footer-links">
        <li><a [routerLink]="['/terms-and-payments']"> طرق الدفع وشروط الاستخدام</a></li>
        <!-- <li><a [routerLink]="[]">شروط الاستخدام</a></li> -->
        <li><a [routerLink]="['/tax-certificate']">الشهادة الضريبية</a></li>
        <!-- <li><a [routerLink]="[]">سياسة لتوصيل والخدمة</a></li> -->
        <li><a [routerLink]="['/privacy-policy']">سياسة الخصوصية</a></li>
        <li><a [routerLink]="['/return-edit-policy']">سياسة التوصيل والاسترجاع</a></li>
        <li><a [routerLink]="['/e-commerce-authentication']">شهادة توثيق التجارة الالكترونية </a></li>
    </ul>

    <p>رقم السجل التجاري ({{CRN}}) &nbsp;&nbsp;
        رقم التسجيل الضريبي ({{TRN}}) &nbsp;&nbsp;
        شهادة توثيق التجارة الالكترونية ({{ECC}})</p>
    <p class="copyrights">copyright 2025 &nbsp; &nbsp; <strong>KARD - kSA</strong></p>
</footer>