footer{
    padding: 21px 14px 7px;
    font-family: 'pnu', sans-serif;
    text-align: center;
    color: #000;
    background-color: rgb(190 185 185);
    font-size: 12px;
}

.brand-name {
        padding: 14px 0 0;
        font-size: 16px;
        font-weight: 600;
        color: #000;
}

h3 {
    padding: 14px 0 7px;
}

img {
    max-width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    list-style: none;
    padding: 21px 0;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    font-size: 11px;
    transition: all 200ms ease;
}

.copyrights{
    padding: 21px 0 0;
    display: inline-flex;
    margin: auto;
    border-bottom: 1px solid #000;
    direction: ltr;
}