<nav class="navbar">
    <a (click)="removeMenu(menu_toggler,links_holder)"  [routerLink]="['/']" class="logo-holder">
        <!-- <img src="assets/images/logo.png" alt="logo" class="logo"> -->
        <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        fill="white"
        width="125"
        height="45"
      >
        <!-- Circular base for the logo -->
        <circle cx="50" cy="50" r="45" stroke="white" stroke-width="2" fill="transparent" />
      
        <!-- Representation of a traditional Saudi thobe -->
        <path
          d="M30 20 L50 10 L70 20 L65 80 L35 80 Z"
          fill="white"
        />
        <line x1="50" y1="10" x2="50" y2="80" stroke="white" stroke-width="2" />
        
        <!-- Decorative patterns representing traditional embroidery -->
        <path
          d="M38 35 L50 50 L62 35"
          fill="none"
          stroke="white"
          stroke-width="1.5"
        />
        <path
          d="M40 65 L50 55 L60 65"
          fill="none"
          stroke="white"
          stroke-width="1.5"
        />
      
        <!-- Arabic Calligraphy (Abstract Stroke) -->
        <path
          d="M30 80 C40 70, 60 70, 70 80"
          fill="none"
          stroke="white"
          stroke-width="2"
        />
      </svg>
    </a>
    <button #menu_toggler class="menu-toggler" (click)="toggleMenu(menu_toggler)">
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
        </button>
    <ul class="links-holder" #links_holder>
        <li class="link-container"><a (click)="removeMenu(menu_toggler,links_holder)" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">الرئيسية</a></li>
        <li class="link-container"><a (click)="removeMenu(menu_toggler,links_holder)" [routerLink]="['/about']" [routerLinkActive]="'active'">من نحن</a></li>
        <li class="link-container"><a (click)="removeMenu(menu_toggler,links_holder)" [routerLink]="['/careers']" [routerLinkActive]="'active'">قطاع الاعمال والشركات</a></li>
        <li class="link-container"><a (click)="removeMenu(menu_toggler,links_holder)" [routerLink]="['/contact']" [routerLinkActive]="'active'">اتصل بنا</a></li>
        <li class="link-container"><a (click)="removeMenu(menu_toggler,links_holder)" [routerLink]="['/jobs']" [routerLinkActive]="'active'">التوظيف</a></li>
        <li class="link-container"><a (click)="removeMenu(menu_toggler,links_holder)" [routerLink]="['/feedback']" [routerLinkActive]="'active'">الشكاوى والاستفسارات</a></li>
        <li class="link-container"><a (click)="removeMenu(menu_toggler,links_holder)" [routerLink]="['/commonQuestions']" [routerLinkActive]="'active'"> اسئلة شائعة </a></li>
    </ul>
</nav>