<div class="container">
    <h2  class="text-center pt-4 fs-4">تواصل معنا</h2>
    <div class="contact-us-holder">
        <div class="address-container dashed">
            <h2 class="contact-header">أسعدنا بزيارتك</h2>
            <div class="bg-white">
                <div class="section pt-4">
                    <p class="title fs-2">{{contact.company_Name}}</p>
                    <p class="title fs-2">سجل تجاري رقم {{contact.CRN}}</p>
                </div>
                <div class="section pt-4">
                    <p class="title fs-2">{{contact.streat}}</p>
                    <p class="title fs-2">{{contact.unit}}</p>
                    <p class="title fs-2">{{contact.city}}</p>
                    <p class="title fs-2">{{contact.country}}</p>
                </div>
            </div>
        </div>

        <div class="other-data dashed">
            <h2 class="contact-header">تسعدنا مكالمتك</h2>
        <div class="bg-white">
            <h2 class="header py-4 max-content extra-margin">الاستفسارات والشكاوى</h2>
            <div class="whatsapp">
                <a class="title socail-media ltr" [href]="'https://wa.me/+' + contact.whatsapp" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    +{{contact.whatsapp}}
                </a>
            </div>
            <div class="works-hour">
                <h2 class="header py-4 max-content extra-margin">مواعيد العمل</h2>
                <p class="title fs-2">{{contact.work_hours}}</p>
            </div>
        </div>
        </div>
    </div>
</div>