<div class="container">
    <h2  class="text-center pt-4 fs-4">تواصل معنا</h2>
    <div class="contact-us-holder">
        <div class="address-container dashed">
            <h2 class="contact-header">أسعدنا بزيارتك</h2>
            <div class="bg-white">
                <div class="section pt-4">
                    <p class="title fs-2">شركة كارد للخياطة</p>
                    <p class="title fs-2">سجل تجاري رقم 1010857681</p>
                </div>
                <div class="section pt-4">
                    <p class="title fs-2">6549 وادي الشعراء – حي العليا</p>
                    <p class="title fs-2">وحدة رقم 222</p>
                    <p class="title fs-2">الرياض 12211 – 3805</p>
                    <p class="title fs-2">المملكة العربية السعودية</p>
                </div>
            </div>
        </div>

        <div class="other-data dashed">
            <h2 class="contact-header">تسعدنا مكالمتك</h2>
        <div class="bg-white">
            <h2 class="header py-4 max-content extra-margin">الاستفسارات والشكاوى</h2>
            <div class="whatsapp">
                <a class="title socail-media ltr" href="https//wa.me/+9660545627097" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                    +9660545627097
                </a>
            </div>
            <div class="works-hour">
                <h2 class="header py-4 max-content extra-margin">مواعيد العمل</h2>
                <p class="title fs-2">من الساعة 9ص إلى الساعة 6م من السبت الى الخميس</p>
            </div>
        </div>
        </div>
    </div>
</div>