<div class="Shapes_dots__1jMPc"></div>
<div class="Shapes_dots__bottom"></div>
<h1></h1>
<div class="container container-size">
    <div class="data-wrapper">
        <h2>سياسة الخصوصية</h2>
        <p>
            نحن نتأكد من أن لدينا سياسة خصوصية لمساعدتنا في التسويق لك ، مع حمايتك بكل طريقة ممكنة. فيما يلي الإجابات
            على
            بعض الأسئلة التي قد تجدها مفيدة. إذا كنت مهتمًا بأي شيء في سياسة الخصوصية الخاصة بنا ، فيرجى إخبارنا بذلك.
            لا
            يوجد شيء أكثر أهمية بالنسبة لنا من ثقتك بنا ورضاك في منتجاتنا وخدماتنا.
        </p>
    </div>

    <div class="data-wrapper">
        <h2>ما هي المعلومات التي نقوم بجمعها؟</h2>
        <p>
            نقوم بجمع المعلومات منك عند التسجيل على موقعنا أو تقديم طلب ،
            عند الطلب أو التسجيل على موقعنا ، حسب الاقتضاء ، قد يُطلب منك إدخال اسمك أو عنوان بريدك الإلكتروني أو عنوانك
            البريدي أو رقم هاتفك أو معلومات بطاقة الائتمان الخاصة بك.
            تستخدم المنصات الاعلانية بصفتها مورِّدًا خارجيًا ، ملفات تعريف الارتباط لعرض الإعلانات لك.
        </p>
    </div>

    <div class="data-wrapper">
        <h2>في ماذا نستخدم المعلومات الخاصة بك؟</h2>
        <p>
            يمكن استخدام أي من المعلومات التي نجمعها منك بإحدى الطرق التالية:
        </p>
        <ul>
            <li>لتخصيص تجربتك – (تساعدنا معلوماتك على الاستجابة بشكل أفضل لاحتياجاتك الفردية).</li>
            <li>لتحسين موقعنا على الإنترنت – (نسعى باستمرار لتحسين عروض موقعنا على أساس المعلومات والتعليقات التي
                نتلقاها
                منك).</li>
            <li>لتحسين خدمة العملاء – (تساعدنا معلوماتك على الاستجابة بشكل أكثر فعالية لطلبات خدمة العملاء واحتياجات
                الدعم).
            </li>
            <li>لمعالجة المعاملات (لن يتم بيع معلوماتك ، سواء كانت عامة أو خاصة ، أو تبادلها ، أو نقلها ، أو منحها إلى
                أي
                شركة أخرى لأي سبب من الأسباب ، دون موافقتك ، بخلاف الغرض الصريح المتمثل في تقديم المنتج المباع أو الخدمة
                المطلوبة).</li>
            <li>لإرسال رسائل بريد إلكتروني أو رسائل جوال دورية – (سيتم استخدام عنوان البريد الإلكتروني أو رقم جوالك الذي
                تقدمه لمعالجة الطلب فقط لإرسال المعلومات والتحديثات المتعلقة بطلبك).</li>
        </ul>
        <p>
            لن يتم تخزين أي من بيانات البطاقات الائتمانية وبطاقات الخصم المباشر بالإضافة إلى المعلومات الشخصية أو بيعها
            أو
            مشاركتها أو تأجيرها إلى أي أطراف خارجية.
        </p>
    </div>

    <div class="data-wrapper">
        <h2>الكوكيز</h2>
        <p>
            نستخدم أداة جمع البيانات المعروفه باسم “ملفات تعريف الارتباط كوكيز” في مراحل معينة من استخدام موقعنا
            الإلكتروني.
            “ملفات تعريف الارتباط كوكيز” هي ملفات صغيرة موجودة على القرص الثابت لجهازك المحمول / الكمبيوتر / الجهاز
            والتي
            تساعدنا في تقديم خدمات مخصصة. يساعدنا ملف تعريف الارتباط في تحليل تفضيلاتك ، على سبيل المثال ، تسجيل عدد
            المرات
            التي استخدمت فيها موقع الويب ، ومساعدتنا في تصميم خدماتنا لتناسب اهتماماتك. علاوة على ذلك ، هناك ميزات معينة
            للموقع متاحة فقط من خلال استخدام “ملف تعريف الارتباط”. يمكن استخدام “ملفات تعريف الارتباط” هذه سواء قمت
            بالتسجيل
            على الموقع أم لا. ومع ذلك ، فإن “ملف تعريف الارتباط” لا يمنحنا حق الوصول إلى جهازك. يمكنك اختيار تعطيل ميزة
            “ملف
            تعريف الارتباط” على جهازك. ولكن هذا قد يمنع الاستفادة الكاملة من الخدمات التي يقدمها الموقع.
        </p>
    </div>

    <div class="data-wrapper">
        <h2>الكشف عن معلوماتك لأطراف ثالثة</h2>
        <p>
            نحن لا نبيع أو نتاجر أو ننقل معلوماتك الشخصية إلى أطراف خارجية. لا يشمل هذا الجهات الخارجية الموثوقة التي
            تساعدنا في تشغيل موقعنا الإلكتروني ، أو إجراء أعمالنا ، أو خدمتكم ، طالما أن تلك الأطراف توافق على الحفاظ
            على
            سرية هذه المعلومات. يجوز لنا أيضًا نشر معلوماتك عندما نعتقد أن النشر مناسب للامتثال للقانون ، أو فرض سياسات
            موقعنا ، أو حماية حقوقنا أو ممتلكاتنا أو سلامتنا أو حقوق الآخرين. ومع ذلك ، قد يتم توفير معلومات الزائر غير
            الشخصية لأطراف أخرى للتسويق أو الإعلان أو الاستخدامات الأخرى.
        </p>
        <p>
            يحق للشركة استخدام البيانات التي تقدمها لنا لأغراض التسويق، بما في ذلك إرسال رسائل نصية أو اتصالات أخرى
            تتعلق
            بمنتجاتنا أو خدماتنا أو منتجات أو خدمات الشركات الشقيقة.
            كما يحق للشركة أيضًا مشاركة البيانات مع الشركات الشقيقة لأغراض التسويق.
        </p>
    </div>

</div>