<div class="Shapes_dots__1jMPc"></div>
<div class="Shapes_dots__bottom"></div>
<h1></h1>
<div class="container container-size">
    <div class="data-wrapper">
        <h2>سياسة الخصوصية</h2>
        <p style="white-space: pre-line;">{{privacyPolicy | newline}}</p>
    </div>

    <div class="data-wrapper">
        <h2>ما هي المعلومات التي نقوم بجمعها؟</h2>
        <p>{{infoType | newline}}</p>
    </div>

    <div class="data-wrapper">
        <h2>في ماذا نستخدم المعلومات الخاصة بك؟</h2>
        <p style="white-space: pre-line;">{{whyCollectInfo | newline}}</p>
    </div>

    <div class="data-wrapper">
        <h2>الكوكيز</h2>
        <p style="white-space: pre-line;">{{cookies | newline}}</p>
    </div>

    <div class="data-wrapper">
        <h2>الكشف عن معلوماتك لأطراف ثالثة</h2>
        <p style="white-space: pre-line;">{{security | newline}}</p>
    </div>

</div>