<div class="data-holder">
    <div class="container-size">
        <p class="text-center">املأ النموذج أدناه لإرسال طلبك</p>
        <!-- <div class="page-title">
        </div> -->
        <div class="form-group">
            <div class="input-container">
                    <label for="name">الإسم</label>
                    <input pInputText id="name" [(ngModel)]="name" class="w-100" autocomplete="off" required
                        />
            </div>            
        </div>
        <div class="form-group">
            <div class="input-container">
                    <label for="name">الشركة</label>
                    <input pInputText id="company" [(ngModel)]="companyName" class="w-100" autocomplete="off" required
                         />
              
            </div>       
            <div class="input-container">
                <label for="phone">رقم الهاتف</label>
                    <input pInputText id="phone" [(ngModel)]="mobileNumber" class="w-100" autocomplete="off" required
                         />
            </div>     
        </div>

        <div class="form-group">
            <div class="input-container">

                <label for="notes">اضافة ملاحظات</label>
                <textarea pTextarea id="notes" class="w-100 text-area" style="resize: none" [(ngModel)]="note" autocomplete="off" required
                ></textarea>
            </div>
        </div>


        <div class="submit-container">
            <p-button  (click)="addOrder()" label="إرسال الطلب" />
        </div>

    </div>
</div>