<!-- Overview -->
<section class="overview" id="overview">
    <div class="card">
        <i class="fa-solid fa-gem"></i>        
        <h4>ضماننا قول وفعل</h4>
        <p class="title">
            حشوات وقلابات ثيابنا ضمانها 6 أشهر
            مقاساتنا مضبوطة ولك حق تعدل
        </p>
    </div>
    <div class="card card-special">
        <i class="fa-solid fa-sun"></i>        
        <h4>جودة ثيابنا فريدة</h4>
        <p class="title">
            اقمشة ثيابنا منتقاة بعناية، بـ أفضل النقشات والمنسوجات حول العالم
        </p>
    </div>
    <div class="card">
        <i class="fa-solid fa-lightbulb"></i>        
        <h4>خدمتنا .. راحتك</h4>
        <p class="title">
            نجيك في المكان والوقت اللي يناسبك 
            <br/>
             وتستلم ثيابك في أقل من 10 أيام
        </p>
    </div>
</section>