<div class="Shapes_dots__1jMPc">
</div>
<div class="Shapes_dots__bottom">
</div>
<h1></h1>
<div class="container container-size">
    <div class="payments">
        <h2>طرق الدفع</h2>
        <img src="assets/images/payments.png" alt="">
        <h4>حاليًا يمكن الدفع من خلال الطرق التالية:</h4>
        <ul>
          <li>يتم دفع كامل المبلغ عند أخذ القياسات.</li>
          <li>الدفع الإلكتروني (مدى، فيزا، ماستر، تمارا).</li>
          <li>التحويل المباشر على الحسابات البنكية للمؤسسة.</li>
        </ul>
    </div>
    <div class="terms-holder">
        <section>
            <h2>شروط وأحكام الاستخدام</h2>
            <p>يعد قبول الشروط والأحكام الخاصة بنا أمرًا ضروريًا للوصول إلى خدماتنا والاستفادة منها.</p>
            <p>تنطبق شروط وأحكام الاستخدام هذه الموجودة على موقع كــــــــــــارد kardsa.net.</p>
            <p>باستخدامك للموقع فانت توافق على هذه الشروط؛ إذا كنت لا توافق على ذلك ، فلا تستخدم الموقع.</p>
            <p>يحتفظ كــــــــــــارد kardsa.net بالحق ، وفقًا لتقديره الخاص ، في تغيير أو تعديل أو إضافة أو إزالة أجزاء من هذه الشروط في أي
                وقت. تقع على عاتقك مسؤولية التحقق من هذه الشروط بشكل دوري للتغييرات. إن استمرار استخدامك للموقع بعد نشر
                التغييرات يعني أنك تقبل التغييرات وتوافق عليها. طالما أنك تلتزم بهذه الشروط، يمنحك كــــــــــــارد امتيازًا محدودًا غير
                حصري وغير قابل للتحويل لدخول واستخدام الموقع.</p>
            <p>تقدم كــــــــــــارد kardsa.net ميزات ومنتجات وخدمات عبر الإنترنت من خلال الموقع قد تحتوي على إرشادات وشروط واتفاقيات
                إضافية. إذا كانت هذه الشروط غير متسقة مع الإرشادات أو الشروط أو الاتفاقيات الإضافية ، فستتحكم هذه الإرشادات أو
                الشروط أو الاتفاقيات الإضافية.</p>
            <p>أي نزاع أو شكوى ناتجة أو متصلة باستخدامك للموقع ستكون خاضعة للقوانين المعمول بها في المملكة العربية السعودية. حيث
                أن مقرّنا يقع في المملكة العربية السعودية.</p>
            <p>لا يحق للقصّر البالغ أعمارهم أقل من 18 عاماً التسجيل كمستخدم لهذا الموقع الإلكتروني وغير مسموح لهم بتنفيذ أي
                معاملات أو استخدام الموقع الإلكتروني.</p>
            <p>إذا قمت بالدفع مقابل أحد منتجاتنا أو خدماتنا من على الموقع الإلكتروني، فإن جميع البيانات التي نطلبها منك سيتم
                تقديمها مباشرة إلى الشركة المقدّمة لخدمة الدفع من خلال اتصال آمن.</p>
            <p>يحق لصاحب البطاقة الاحتفاظ بنسخة من المعاملة التي تمّت وبنسخة من سياسات وشروط التاجر.</p>
            <p>نقبل المدفوعات الإلكترونية باستخدام البطاقات الائتمانية وبطاقات الخصم المباشر من فيزا وماستركــــــــــــارد وبعملة الريال
                السعودي (أو بعملات أخرى كما يتم الاتفاق عليه).</p>    
        </section>

        <section>
            <h2>الخصوصية</h2>
        <p>تنطبق سياسة خصوصية كــــــــــــارد kardsa.net على استخدامك لهذا الموقع, وتم جعل شروطه جزءًا من هذه الشروط من خلال هذا
            المرجع.</p>
    
        </section>
    
        <section>
            <h2>حقوق النشر</h2>
        <p>جميع المحتويات المدرجة أو المتاحة من خلال الموقع ، مثل النصوص والرسومات والشعارات وأيقونات الأزرار والصور ومقاطع
            الفيديو والمقاطع الصوتية والمستندات والبيانات هي ملك كــــــــــــارد kardsa.net.</p>
        </section>
    
       <section>
        <h2>العلامات التجارية</h2>
        <p>بالإضافة إلى ذلك ، تعد الرسومات والشعارات ورؤوس الصفحات وأيقونات الأزرار والنصوص البرمجية وأسماء المنتجات وأرقام
            طراز المنتج وأسماء الخدمات المضمنة أو المتاحة عبر الموقع علامات تجارية لشركة كــــــــــــارد الماهر للخياطة للتجارة في
            المملكة العربية السعودية أو للشركات المصنعة التي تقوم كــــــــــــارد kardsa.net ببيع منتجاتها. لا يجوز استخدام العلامات
            التجارية لشركة كــــــــــــارد الماهر للخياطة للتجارة فيما يتعلق بأي منتج أو خدمة غير كــــــــــــارد kardsa.net، بأي طريقة من المحتمل
            أن تسبب ارتباكًا ، أو بأي طريقة من شأنها أن تقلل من شأن كــــــــــــارد kardsa.net أو تشوه سمعتها.</p>
       </section>
    </div>
</div>