<!-- <a [routerLink]="['/commonQuestions', '12']">di - 2</a> -->
<div class="data-holder">
    <div class="Shapes_dots__1jMPc">
    </div>
    <div class="Shapes_dots__bottom">
    </div>
    <h1>الاسئلة الشائعة</h1>
    <div class="container-size">
        <div class="card flex justify-center">
            <!-- Search -->
            <div class="search-container">
                <p-iconfield class="w-100" iconPosition="right" class="mx-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText #search type="text" (input)="searchingofQuestion(search.value)" placeholder="كلمة البحث" />
                </p-iconfield>
            </div>

            <!-- questions -->
             <div class="accordion-conatiner ">
                 <p-accordion value="0" [multiple]="true">
                     @for (question of questions; track $index) {
                         <p-accordion-panel [value]="$index + 1">
                             <p-accordion-header>{{question.header}}</p-accordion-header>
                             <p-accordion-content>
                                 <p class="m-0">
                                     {{question.content}}
                                 </p>
                             </p-accordion-content>
                         </p-accordion-panel>
                     }
                     
     <!-- 
                     <p-accordion-panel value="1">
                         <p-accordion-header>Header II</p-accordion-header>
                         <p-accordion-content>
                             <p class="m-0">
                                 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                 laudantium,
                                 totam rem
                                 aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                 sunt
                                 explicabo. Nemo
                                 enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                 magni
                                 dolores eos
                                 qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam
                                 eius modi.
                             </p>
                         </p-accordion-content>
                     </p-accordion-panel>
     
                     <p-accordion-panel value="2">
                         <p-accordion-header>Header III</p-accordion-header>
                         <p-accordion-content>
                             <p class="m-0">
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                 voluptatum
                                 deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                                 non
                                 provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                 dolorum
                                 fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                 soluta nobis
                                 est eligendi optio cumque nihil impedit quo minus.
                             </p>
                         </p-accordion-content>
                     </p-accordion-panel>
                     <p-accordion-panel value="3">
                         <p-accordion-header>Header III</p-accordion-header>
                         <p-accordion-content>
                             <p class="m-0">
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                 voluptatum
                                 deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                                 non
                                 provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                 dolorum
                                 fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                 soluta nobis
                                 est eligendi optio cumque nihil impedit quo minus.
                             </p>
                         </p-accordion-content>
                     </p-accordion-panel>
     
                     <p-accordion-panel value="4">
                         <p-accordion-header>Header III</p-accordion-header>
                         <p-accordion-content>
                             <p class="m-0">
                                 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                 voluptatum
                                 deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                                 non
                                 provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                 dolorum
                                 fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                                 soluta nobis
                                 est eligendi optio cumque nihil impedit quo minus.
                             </p>
                         </p-accordion-content>
                     </p-accordion-panel> -->
                 </p-accordion>
             </div>
        </div>
    </div>
</div>