<div class="container">
    <div class="about-holder">
        <div class="about-us">
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">من نحن</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    كارد هي شركة سعودية رائدة في مجال تفصيل الثياب متخصصة في تقديم خدمة
                    التفصيل المتنقل في اي مكان يناسب عميلنا، كما نتميز بتنوع كبير في خامات الاقمشة
                    بأحدث تكنولوجيا مكائن القص والخياطة.
                </p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">About Us</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    Kard is a leading Saudi company specialized in tailoring clothes and
                    providing mobile tailoring services to our customers wherever they are. We
                    are distinguished by a wide variety of fabrics and the latest cutting and
                    sewing machine technology.
                </p>
            </div>
        </div>
        <img src="assets/images/patterns/arabicLetter.png" class="pattern" alt="">
        <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-2" alt="">
    </div>
    <div class="about-holder bg-white py-4">
        <div class="about-us h-auto m-left-0-right-auto">
            <div class="card py-4 w-75">
                <p class="content text-dark">
                    نفخر في تقديم خدماتنا لعملائنا في الوسطى والغربية والشرقية، ونطمح في تقديمها
                    على مستوى المملكة العربية السعودية بالكامل.
                </p>
            </div>
            <div class="card card-engilsh py-4">
                <p class="content text-dark">We are proud to provide our services to customers in the central, western
                    and eastern regions of Saudi Arabia, and we aspire to provide them
                    throughout the Kingdom of Saudi Arabia.</p>
            </div>
            <img src="assets/images/MAP.png" class="img-auto" alt="">
        </div>
        <img src="assets/images/patterns/arabicLetter.png" class="pattern-right opacity-7" alt="">
        <img src="assets/images/patterns/arabicLetter.png" class="pattern-right pattern-2 opacity-7" alt="">
    </div>
    <div class="about-holder overflow-hidden custom-padding">
        <div class="about-us">
            <h2 class="py-4 text-center address-header">ما يميز كارد ؟</h2>
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">المصنع</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    مصنع مجهز بأحدث التقنيات في مجال تصنيع الثياب يعمل على مدار الساعة لتلبية احتياجات عملائنا.
                </p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">The Factory</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    A factory equipped with the latest technologies in the field of clothing manufacturing, operating
                    around the clock.
                </p>
            </div>
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">الجودة</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    الضمانات على الأقمشة والحشوات تصل إلى سنة. أكثر من 200 موظف ما بين خياطين وفنيين قياس وجودة مدربين
                    بجودة وكفاءة عالية.
                    أقمشة متميزة ومتنوعة تم اختيارها بعناية بعد تطابقها مع أفضل معايير الجودة والكفاءة.
                    نقدم لعملائنا قيمة استثنائية من خلال خدماتنا قبل وبعد البيع على مدار الساعة.
                </p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">Quality</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    Guarantees on fabrics and fillings for up to one year.
                    More than 200 employees, including tailors and quality control technicians, trained to high quality.
                    Outstanding and diverse fabrics carefully selected to meet the best quality and efficiency
                    standards.
                    We offer our customers exceptional value through our services before and after sales, around the
                    clock

                </p>
            </div>
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">سعادة عملائنا</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    خدمة العملاء في مختلف مواقعهم بما يتناسب مع رغباتهم.
                    التفوق على المنافسين في تقديم الخدمات من ناحية جودة – سرعة – دقة – إنجاز.
                </p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">Customer Satisfaction</h2>
                    <div class="border"></div>
                </div>
                <p class="content">
                    Customer service at various locations to suit their needs.
                    Surpassing competitors in terms of service quality, speed, accuracy, and completion.
                </p>
            </div>
        </div>
        <div class="relative">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-2" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-3" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-4" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-5" alt="">
            <!--<img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-5" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-6" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-7" alt=""> -->
        </div>    
    </div>
</div>