<div class="container">
    <div class="about-holder">
        <div class="about-us">
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">من نحن</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{whoIsUsAr}} </p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">About Us</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{whoIsUsEn}}</p>

            </div>
        </div>
        <img src="assets/images/patterns/arabicLetter.png" class="pattern" alt="">
        <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-2" alt="">
    </div>
    <div class="about-holder bg-white py-4">
        <div class="about-us h-auto m-left-0-right-auto">
            <div class="card py-4 w-75">
                <p class="content text-dark">{{prefInAr}}</p>
            </div>
            <div class="card card-engilsh py-4">
                <p class="content text-dark">{{prefInEn}}</p>
            </div>
            <img src="assets/images/MAP.png" class="img-auto" alt="">
        </div>
        <img src="assets/images/patterns/arabicLetter.png" class="pattern-right opacity-7" alt="">
        <img src="assets/images/patterns/arabicLetter.png" class="pattern-right pattern-2 opacity-7" alt="">
    </div>
    <div class="about-holder overflow-hidden custom-padding">
        <div class="about-us">
            <h2 class="py-4 text-center address-header">ما يميز كــــــــــــارد ؟</h2>
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">رؤيتنا</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{vessionInAr}}</p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">Vision</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{vessionInEn}}</p>
            </div>
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">الجودة</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{qualityAr}}</p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">Quality</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{qualityEn}}</p>
            </div>
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">سعادة عملائنا</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{customerInAr}}</p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">Customer Satisfaction</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{customerInEn}}</p>
            </div>
            <div class="card card-arabic">
                <div class="wrapper">
                    <h2 class="header">رسالتنا</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{messageInAr}}</p>
            </div>
            <div class="card card-engilsh">
                <div class="wrapper">
                    <h2 class="header">Mission</h2>
                    <div class="border"></div>
                </div>
                <p class="content">{{messageInEn}}</p>
            </div>
        </div>
        <div class="relative">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-2" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-3" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-4" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-5" alt="">
            <!--<img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-5" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-6" alt="">
            <img src="assets/images/patterns/arabicLetter.png" class="pattern pattern-7" alt=""> -->
        </div>
    </div>
</div>