<div class="data-holder">
    <div class="Shapes_dots__1jMPc">
    </div>
    <!-- <div class="Shapes_dots__bottom">
    </div> -->
    <h1>سياسة التوصيل والاسترجاع</h1>
    <div class="container-size">
        <section class="delivery-policy">
            <h2>سياسة التوصيل والخدمة</h2>
            <p  style="white-space: pre-line;">{{delivered | newline}}</p>
        </section>

        <section class="return-policy">
            <h2>سياسة الاسترجاع</h2>
            <p style="white-space: pre-line;">{{canceled | newline}}</p>
            <ul class="list-none">
                <li>في حالة وجود مشكلة في المنتج يجب على العميل رفع طلب شكوى على الموقع من خلال الرابط التالي:
                    <a [routerLink]="['/feedback']">رفع شكوى</a>.
                </li>
                <li>* لا يحق للعميل طلب استرجاع القيمة أو استبدال منتج الثوب بعد الدفع ورفع طلب التفصيل.</li>
            </ul>
        </section>
    </div>
</div>