
.Shapes_dots__1jMPc {
    position: absolute;
    top: 75px;
    left: 0;
    height: 100vh;
    z-index: 0;
    width: 300px;
    /* background-color: #F5F5DC;  */
    background-image: radial-gradient(#C4A484 2px, rgba(255, 255, 255, 0) 0);
    background-size: 30px 30px;    
}


h1 {
    width: max-content;
    padding: 21px 0;
    margin-right: 5vw!important;
    font-family: 'pnu', sans-serif;
    font-size: 1.5em;
    color: #315e5e;
    background-color: beige;
}

.container-size {
    min-height: 450px;
    /* margin-top: 25px; */
    margin-bottom: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fffff4;
    position: relative;    
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    border-radius: 8px;
}

/* .data-holder{
    padding: 0 15px 49px;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-family: 'pnu', sans-serif;
    line-height: 2.2;
    color: #313131;

} */
 h2 {
    color: #315e5e;
 }

 section{
    padding: 21px;
 }
 section h2{
    max-width: max-content;
    border-bottom: 1px solid #315e5e;
    margin: 21px 0;
 }

