<div class="data-holder">
    <div class="Shapes_dots__1jMPc">
    </div>
    <!-- <div class="Shapes_dots__bottom">
    </div> -->
    <h1>سياسة التوصيل والاسترجاع</h1>
    <div class="container-size">
        <section class="delivery-policy">
            <h2>سياسة التوصيل والخدمة</h2>
            <ul class="list-circle">
                <li>التوصيل والخدمة مجانية لجميع المدن التي تقع ضمن نطاق تغطية الخيال والتي أعلن عن تضمينها في
                    الخدمات المجانية في المملكة العربية السعودية.</li>
                <li>في حال كان العميل خارج نطاق التغطية، لا نقوم بالخدمة ويتحمل العميل تكلفة الشحن حسب الوسيلة
                    المناسبة له. وفي حال عدم الاتفاق على الشحن، يتم إعادة المبلغ المدفوع للعميل عن طريق الوسيلة
                    التي تم الدفع من خلالها أو من خلال تحويل بنكي لحساب العميل.</li>
                <li>عادةً يتم التوصيل والخدمة خلال يوم إلى 10 أيام عمل حسب الجدول المتاح للخدمة، وبالنسبة لطلبات
                    الشحن يتم شحنها خلال 3 أيام مع الاتفاق مع العميل على وسيلة الشحن المناسبة لمنطقته.</li>
                <li>يتم التواصل مع العملاء خلال يوم إلى 5 أيام عمل لجدولة مواعيد الخدمة.</li>
                <li>في حال عدم استلام العميل للمنتج لأول مرة، يتحمل العميل رسوم توصيل الثياب للمرة الثانية.</li>
                <li>الخيال لن يتعامل أو يقدّم خدمات أو منتجات لأي من الدول التي عليها عقوبات من مكتب مراقبة
                    الأصول الأجنبية (OFAC)، وذلك وفقاً للقوانين المعمول بها في المملكة العربية السعودية.</li>
            </ul>
        </section>

        <section class="return-policy">
            <h2>سياسة الاسترجاع</h2>
            <ul class="list-none">
                <li>في حالة استحقاق العميل لاسترجاع المبلغ فإن عملية الاسترجاع تكون على الحساب البنكي الخاص
                    بالعميل خلال 12 يوم عمل.</li>
                <li>يلغى الضمان في حالة عدم التزام العميل بتعليمات غسل القماش:</li>
                <ul class="list-none">
                    <li>استخدام مسحوق غسيل فيه مبيض.</li>
                    <li>ما تم شطفه بكمية وافرة من الماء.</li>
                    <li>استخدام النشافة الحرارية بدل التجفيف في الظل.</li>
                </ul>
                <li>في حالة وجود مشكلة في المنتج يجب على العميل رفع طلب شكوى على الموقع من خلال الرابط التالي:
                    <a [routerLink]="['/feedback']">رفع شكوى</a>.
                </li>
                <li>* لا يحق للعميل طلب استرجاع القيمة أو استبدال منتج الثوب بعد الدفع ورفع طلب التفصيل.</li>
            </ul>
        </section>
    </div>
</div>