<div class="holder">
    <div class="right-background"></div>
    <div class="left-background"></div>
        <div class="login-container">
            <div class="flex justify-center">
                <img src="assets/images/logo-2.png" alt="logo" class="logo" />
            </div>
            <p class="login-title">مرحبا بكم فى لوحة التحكم الخاصة بشركة كارد</p>
            <form class="login-form">
                <div class=" my-2">
                    <label for="username" class="my-1 block">اسم المستخدم</label>
                    <input pInputText id="username" class="w-full" type="text" />
                </div>
                <div class=" my-1">
                    <label for="password" class="my-1 block">كلمة السر</label>
                    <input pInputText id="password" class="w-full" type="password" />
                </div>
                <div class="flex mb-2 pt-2 mt-4">
                    <p-button label="تسجيل الدخول" icon="pi pi-user" class="ltr w-75" />
                </div>
            </form>
        </div>
</div>