    <app-auto-scroll-slider />
 
<section class="py-5 my-5">
    <!-- offers -->
    <app-offer-card [offer]="allOffers" />
</section>

<h1>{{ourSpecialCard}}</h1>
<section class="py-5 my-5 images-holder">
    @for (product of productsImagesUrl; track $index) {
        <img [src]="product.photo" alt="section-title" class="section-title pointer" [routerLink]="['/offer']">

    }
</section>



<section class="py-5 my-5">
    <!-- overview -->
    <app-overview />
</section>

<section class="py-5 my-5">
    <!-- adds -->
    <app-home-adds [logos]="logos" />
</section>
