    <app-auto-scroll-slider />

<section class="py-5 my-5">
    <!-- offers -->
    <app-offer-card />
</section>

<h1>مجموعتنا المميزة</h1>
<section class="py-5 my-5 images-holder">
    @for (product of productsImagesUrl; track $index) {
        <img [src]="product.photo" alt="section-title" class="section-title">

    }
</section>



<section class="py-5 my-5">
    <!-- overview -->
    <app-overview />
</section>

<section class="py-5 my-5">
    <!-- adds -->
    <app-home-adds [logos]="logos" />
</section>
