<!-- offers -->
<div class="container">
    <h1>عروضنا</h1>
    <section class="offers" id="offers">
        <a class="offer-card" [routerLink]="['/offer']">
            <div class="overlay-container">
                <img src="assets/images/offer1.png" alt="offer1">
                <div class="overlay">
                    <h4>وصف تجريبي للمنتج ونوع التصميم</h4>
                </div>
            </div>
            <h4>عرض العيد</h4>
            <p>احصل على خصم 20% على طلبك الأول</p>
        </a>
        <a class="offer-card" [routerLink]="['/offer']">
            <div class="overlay-container">
                <img src="assets/images/offer2.png" alt="offer2">
                <div class="overlay">
                    <h4>وصف تجريبي للمنتج ونوع التصميم</h4>
                </div>
            </div>
            <h4>بكج 3 ثياب</h4>
            <p>ابتداءً من <span class="price">999</span> <small class="price-offer">1499</small> ريال حسب اختيارك
                الاقمشة
            </p>
        </a>
        <a class="offer-card" [routerLink]="['/offer']">
            <div class="overlay-container">
                <img src="assets/images/offer1.png" alt="offer2">
                <div class="overlay">
                    <h4>وصف تجريبي للمنتج ونوع التصميم</h4>
                </div>
            </div>
            <h4>بكج 3 ثياب</h4>
            <p>ابتداءً من <span class="price">999</span> <small class="price-offer">1499</small> ريال حسب اختيارك
                الاقمشة
            </p>
        </a>
    </section>
</div>