<!-- <app-backgound-pattern [patternType]="'pattern-1'"/> -->
<div class="data-holder">
    <div class="container">
        <div class="wrapper">
            <p class="special-header bg-white">لمن نقدم خدماتنا</p>
            <div class="dashed"></div>
        </div>
        <div class="content">
            <p>
                نقدم خدمات خاصة لـ قطاع الأعمال تتعلق بالزي الرسمي السعودي (الثوب السعودي) بـ طرق حديثة وأساليب مبتكرة
                تعمل
                على تعزيز الهوية الوطنية في المنشأة مما يصب في رؤية المملكة بالحفاظ على الثوب السعودي كرمز للهوية
                الوطنية، من
                خلال مصنع متكامل وفريق عمل متواجد في جميع مناطق المملكة قادر على تلبية جميع الاحتياجات في قطاع الأعمال
                (الجهات
                الحكومية – الشركات شبه حكومية والخاصة – الجامعات – المدراس – القطاع الصحي – مختلف الأنشطة والفعاليات )
                بأعلى
                جودة ممكنة وخلال وقت قياسي وصناعة سعودية %100.
            </p>
        </div>
        
        <div class="special-form-holder">
            <div class="wrapper">
                <p class="special-header">احجز ثوبك الان</p>
                <div class="dashed"></div>
            </div>
            <div class="wrapper">
                <app-order />
            </div>
        </div>
    </div>

</div>