@font-face {
    font-family: 'pnu';
    src: url('assets/fonts/PNU-Regular.ttf');
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    direction: rtl;
    background-color: beige;
}
.container {
    font-family: 'pnu', sans-serif;
}
.container-size {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'pnu', sans-serif;
}

.pt-3 {
    padding-top: 0.75rem;
}

.pt-4 {
    padding-top: 1rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
}

.my-5{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; 
}

.ltr {
    direction: ltr;
}

.text-center {
    text-align: center;
}


.w-50{
    width: 50%;
    min-width: 270px;
} 
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.list-none {
    list-style-type: none;
}

.list-circle {
    list-style-type: circle;
 }

 input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
 }

 .pointer {
    cursor: pointer;
 }